@model advt.Model.LocalPasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<advt.Model.Global.ActionInfo> lnav = new List<advt.Model.Global.ActionInfo>();
    lnav.Add(new advt.Model.Global.ActionInfo("管理首页", "Index", "Management", new { Area = "Users" }));
    lnav.Add(new advt.Model.Global.ActionInfo("用户信息", "Userinfo", "Account", new { Area = "" }));
    lnav.Add(new advt.Model.Global.ActionInfo("修改密码"));
}

@Html.Partial("~/Views/Shared/_Navigate.cshtml", lnav)

@section head{
    @Styles.Render("~/Content/fmUserinfo")
}

@using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { @class = "form-signin top15" }))
{
    @Html.AntiForgeryToken()
    
    <div class="inline-block text-danger">@Html.ValidationSummary(true)</div>
    
    <div class="clearfix">
        <h2 class="top15">用户信息</h2>
        <h3 class="top15">填写下面的表格，来修改您的密码。</h3>
    </div>
    <p class="text-danger">
        密码必须大于 @(Membership.MinRequiredPasswordLength - 1) 字符长度！
    </p>
    
    <div class="form-group-item">
        <label for="OldPassword" class="form-group-item-left">@Html.DisplayNameFor(m => m.OldPassword) : </label>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        <div class="form-group-item-right">
            <div class="inline-block text-danger">@Html.ValidationMessageFor(model => model.OldPassword)</div>
        </div>
    </div>
    <div class="form-group-item">
        <label for="NewPassword" class="form-group-item-left">@Html.DisplayNameFor(m => m.NewPassword) : </label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        <div class="form-group-item-right">
            <div class="inline-block text-danger">@Html.ValidationMessageFor(model => model.NewPassword)</div>
        </div>
    </div>
    <div class="form-group-item">
        <label for="ConfirmPassword" class="form-group-item-left">@Html.DisplayNameFor(m => m.ConfirmPassword) : </label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        <div class="form-group-item-right">
            <div class="inline-block text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
        </div>
    </div>
    <div class="form-group-item top15">
        <button type="submit" class="btn btn-primary btn-lg userinfo-submit-btn">修改</button>
    </div>
}

<div>
    @Html.ActionLink("返回", "Userinfo", "Account", new { Area = "" }, null)
</div>

@section Scripts {
    @Scripts.Render("~/yhjs/jval")
}
